<% provide(:title, 'About Us') %>
<% breadcrumb :about %>
<div class="hero-unit">
<h1>About Us</h1>
<h2>Страница находится на стадии разработки... а пока можете полистать предыдущий проект: <a href="http://rapidsoft.org/">Rapidsoft.org</a></h2>
</div>