<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Для связи с администратором, можете писать на мыло 111@gmail.com ....
  <br />
  или полистать предыдущий проект: <a href="http://rapidsoft.org/">Rapidsoft.org</a>
</p>