<% provide(:title, 'Contact') %>
<% breadcrumb :contact %>
<div class="hero-unit">
<h1>Contact</h1>
<h2>
  Для связи с администратором, можете писать на мыло 111@gmail.com ....
  <br />
  или полистать предыдущий проект: <a href="http://rapidsoft.org/">Rapidsoft.org</a>
</h2>
</div>
<address>
  <strong>Rapidsoft.org</strong><br>
  795 Example street, Suite 600<br>
  Sity address, CA 94107<br>
  <abbr title="Phone">P:</abbr> (123) 456-7890
</address>

<address>
  <strong>Yuri Trend</strong><br>
  <a href="mailto:#">first.last@example.com</a>
</address>
