<% provide(:title, 'Help') %>
<% breadcrumb :help %>
<div class="hero-unit">
<h1>Help</h1>
<h2>Ну и опять же, посетите <a href="http://rapidsoft.org">Мой сайт</a>... пока что :)</h2>
</div>
<blockquote>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>
<blockquote class="blockquote-reverse">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
</blockquote>
<dl class="dl-horizontal">
  <dt>Description lists</dt>
  <dd>A description list is perfect for defining terms.</dd>
  <dt>Euismod</dt>
  <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
    Donec id elit non mi porta gravida at eget metus.</dd>
</dl>
<pre>Sample text here... <code>&lt;pre&gt;</code></pre>
<code>Sample text here...<code>&lt;code&gt;</code></code>
<br />
<p>Use <code>.table-striped</code> to add zebra-striping to any table row within the <code>&lt;tbody&gt;</code>.</p>
<div class="bs-callout bs-callout-danger">
  <h4>Cross-browser compatibility</h4>
  <p>Striped tables are styled via the <code>:nth-child</code> CSS selector, which is not available in Internet Explorer 8.</p>
</div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
    </tbody>
  </table>

<p>Use contextual classes to color table rows or individual cells.</p>
<div class="table-responsive">
  <table class="table table-bordered table-striped">
    <colgroup>
      <col class="col-xs-1">
      <col class="col-xs-7">
    </colgroup>
    <thead>
    <tr>
      <th>Class</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <code>.active</code>
      </td>
      <td>Applies the hover color to a particular row or cell</td>
    </tr>
    <tr>
      <td>
        <code>.success</code>
      </td>
      <td>Indicates a successful or positive action</td>
    </tr>
    <tr>
      <td>
        <code>.info</code>
      </td>
      <td>Indicates a neutral informative change or action</td>
    </tr>
    <tr>
      <td>
        <code>.warning</code>
      </td>
      <td>Indicates a warning that might need attention</td>
    </tr>
    <tr>
      <td>
        <code>.danger</code>
      </td>
      <td>Indicates a dangerous or potentially negative action</td>
    </tr>
    </tbody>
  </table>
</div>
<table class="table">
  <thead>
  <tr>
    <th>#</th>
    <th>Column heading</th>
    <th>Column heading</th>
    <th>Column heading</th>
  </tr>
  </thead>
  <tbody>
  <tr class="active">
    <td>1</td>
    <td>Column content</td>
    <td>Column content</td>
    <td>Column content</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Column content</td>
    <td>Column content</td>
    <td>Column content</td>
  </tr>
  <tr class="success">
    <td>3</td>
    <td>Column content</td>
    <td>Column content</td>
    <td>Column content</td>
  </tr>
  <tr>
    <td>4</td>
    <td>Column content</td>
    <td>Column content</td>
    <td>Column content</td>
  </tr>
  <tr class="info">
    <td>5</td>
    <td>Column content</td>
    <td>Column content</td>
    <td>Column content</td>
  </tr>
  <tr>
    <td>6</td>
    <td>Column content</td>
    <td>Column content</td>
    <td>Column content</td>
  </tr>
  <tr class="warning">
    <td>7</td>
    <td>Column content</td>
    <td>Column content</td>
    <td>Column content</td>
  </tr>
  <tr>
    <td>8</td>
    <td>Column content</td>
    <td>Column content</td>
    <td>Column content</td>
  </tr>
  <tr class="danger">
    <td>9</td>
    <td>Column content</td>
    <td>Column content</td>
    <td>Column content</td>
  </tr>
  </tbody>
</table>