<div class="hero-unit">
  <h1>Sample App</h1>
  <h2>
    Страница находится на стадии разработки... а пока можете полистать мой предыдущий проект: <a href="http://rapidsoft.org/">Rapidsoft.org</a>
  </h2>
  <p align="center"><%= link_to "Зарегайся", '#', class: "btn btn-large btn-primary" %></p>
</div>
<h4 align="justify">Большинству пользователей установка уникального фонового изображения для экрана приветствия Windows может показаться излишеством, но иногда хочется чем-то отличиться от других пользователей. В некоторых случаях (например, при создании собственной установочной сборки операционной системы), это изменение может послужить отличительной чертой среди остальных сборок. И вообще, нестандартный экран приветствия – это оригинально. Хоть какое-то разнообразие.</h4>
