<% provide(:title, 'Home') %>
<h1>Sample App</h1>
<p>
  Страница находится на стадии разработки..
  <br />
  а пока можете полистать предыдущий проект: <a href="http://rapidsoft.org/">Rapidsoft.org</a>
</p>