<div class="hero-unit">
  <h1>Sample App</h1>
  <h2>
    Страница находится на стадии разработки... а пока можете полистать мой предыдущий проект: <a href="http://rapidsoft.org/">Rapidsoft.org</a>
  </h2>
  <p align="center"><%= link_to "Зарегайся", signup_path, class: "btn btn-large btn-primary" %></p>
</div>
<h4 align="justify">Проверка разных стилей текста, блоков и внешних фрэймов ... Кажется, все как обычно... </h4>
<p align="center"><iframe width="560" height="315" src="//www.youtube.com/embed/TWwpAgY8DXQ?rel=0" frameborder="0" allowfullscreen></iframe> <iframe width="560" height="315" src="//www.youtube.com/embed/6ObB8RL-_pE?rel=0" frameborder="0" allowfullscreen></iframe></p>