<% if object.errors.any? %>
 <p class="text-danger" align="center">The form contains <%= pluralize(object.errors.count, "error") %>.</p>
 <ul class="alert alert-danger list-unstyled">
   <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
   <% end %>
 </ul>
<% end %>