@import "bootstrap";

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

a:link, a:visited, a:hover, a:focus, a:active {
  outline: none;
}
.container1 {
  background-color: white;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.hero-unit {
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.hero-unit1 {
  padding: 10px 0 0 0;
  margin-top: 15px;
  margin-bottom: 10px;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
html {
  overflow-y: scroll;
}
body {
  background-image: asset-url("s5_background3.jpg");
  padding-top: 20px;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
h1 {
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
}
h2 {
  font-size: 1.5em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* footer */

footer {
  margin-top: 30px;
  padding-top: 5px;
  border-top: 2px solid #eaeaea;
  color: #999;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}
/* sidebar */
aside {
  section {
    margin-top: 10px;
    padding: 10px 0;
    border-top: 1px solid;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0;
    }
  }
}
.gravatar {
  float: left;
  margin-left: 25px;
  margin-right: 10px;
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
}
input {
  height: auto !important;
  width: 100%;
}
.input1 {
  width: 50%;
}
.btn {
  width: auto;
}
.alert-danger {
  margin-top: 15px;
  text-align: center;
  text-decoration: solid;
}
.alert-success {
  margin-top: 15px;
  text-align: center;
  text-decoration: solid;
}
.alert-notice {
  border-color: #e7e6b3;
  margin-top: 15px;
  text-align: center;
  text-decoration: solid;
  background-color: #fffebb;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

/* Users index */
.users li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid #eee;
    &:last-child {
      border-bottom: 1px solid #eee;
    }
}
.pagination {
  @include pagination-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $border-radius-small);
}

